USE_MOCK=true
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ubs_escreen
DB_USER=root
DB_PASSWORD=
ESCREEN_PARTNER_ID=
ESCREEN_PARTNER_PASSWORD=
ESCREEN_CLIENT_ACCOUNT=
ESCREEN_CLIENT_SUB_ACCOUNT=
ESCREEN_ELECTRONIC_CLIENT_ID=
